:root {
    --height-header: 10vh;
    --height-main: 85vh;
    --height-footer: 5vh;
    --font-size-title-google: 8rem;
    --font-size: 1.4rem;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
/* HEADER-NAV */
.container-max {
    display: flex;
    flex-direction: column;
    background-color: #2a2a2a;
}
.header {
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    height: var(--height-header);
    background-color: transparent;
}
.nav-top {
    display: inline-block;
    margin-right: 1rem;
    width: 100%;
    height: 100%;
}
.nav-top__ul {
    display: flex;
    list-style-type: none;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.nav-top__ul__li {
    display: inline-block;
    margin-left: .5rem;
    margin-right: .5rem;
}
.nav-top__ul__li a{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: var(--font-size);
    color: #fff;
}
#menu-icon {
    width: 2.5rem;
    margin: 1rem .5rem 0 1.5rem;
}
#profile-icon {
    width: 4rem;
    margin: 1rem .5rem 0 .5rem;
}

/* MAIN */
.main {
    width: 100vw;
    height: var(--height-main);
    background-color: aqua;
    background-color: transparent;
}
.form-search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10rem;
    width: 100%;
}
.form-search__label {

}
.google-title h2 {
    padding-bottom: 2rem;
    font-size: var(--font-size-title-google);
    color: #fff;
}
.form-search__container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 90vw;
    max-width: 35rem;
    padding: 1rem;
    border-radius: 2rem;
    background-color: #ddd;
}
.form-search__label input {
    padding-left: .6rem;
    outline: none;
    background-color: transparent;
    border: 0;
}
.search-icon {
    
}
.search-icon img {
    width: 1rem;
}
.form-search__submit {
    /* border-left: .1rem solid #000; */
}
.form-search__submit button {
    padding-left: .6rem;
    outline: none;
    background-color: transparent;
    border: 0;
}
.form-search__submit__img img{
    width: 1rem;
}

/* QUICK-ACCESS */
.quick-access {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 100%;
}
.quick-access__li {
    display: inline-block;
    margin-left: .5rem;
    margin-right: .5rem;
}
.quick-access__li a {
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: var(--font-size);
    color: #fff;
}
#facebook-icon, #instagram-icon, #youtube-icon {
    width: 4rem;
    margin: 4rem 2.7rem 1rem;
}
/* FOOTER */
.footer {
    display: flex;
    width: 100vw;
    height: var(--height-footer);
    background-color: transparent;
    background-color: #2f2f2f;
}
.container-ul {
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    width: 100%;
}
.container-ul__li {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.container-ul__li a {
    padding: .5rem;
    text-decoration: none;
    color: #fff;
    font-size: calc(var(--font-size) - .1rem);
}