:root {
    --height-header: 10vh;
    --height-main: 85vh;
    --height-footer: 5vh;
    --font-size-title-google: 5rem;
    --font-size: 1.4rem;
    --color-header: #000;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
}
/* HEADER-NAV */
.container-max {
    display: flex;
    flex-direction: column;
}
.header {
    display: flex;
    width: 100vw;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-end;
    align-items: center;
    height: var(--height-header);
    background-color: aquamarine;
}
.nav-top {
    display: inline-block;
}
.nav-top__ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
.nav-top__ul__li {
    display: inline-block;
}
.nav-top__ul__li a{
    display: block;
    padding-left: .5rem;
    padding-right: .7rem;
    text-align: center;
    text-decoration: none;
    font-size: var(--font-size);
    color: var(--color-header);
}

/* MAIN */
.main {
    width: 100vw;
    height: var(--height-main);
    background-color: aqua;
}
.form-search {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
    padding-top: 10rem;
    width: 100%;
    height: 100%;
}
.form-search__label {
    
}
.google-title h2 {
    padding-bottom: 2rem;
    font-size: var(--font-size-title-google);
}
.form-search__container {
    padding: .6rem;
    border-radius: 2rem;
    background-color: #dcdcdc;
    display: flex;
}
.form-search__label input {
    padding-left: .6rem;
    outline: none;
    background-color: transparent;
    border: 0;
}
.search-icon{

}
.form-search__submit {
    
}
.form-search__submit input {
    padding-left: .6rem;
    outline: none;
    background-color: transparent;
    border: 0;
}

/* FOOTER */
.footer {
    display: flex;
    width: 100vw;
    height: var(--height-footer);
    background-color: darkcyan;
}